---
layout: index
title: JAVA技术相关
---
<!-- content -->
	<div class="content">
	<div class="container">
		<div class="content-text">	
			<div class="title">
				{% for post in site.posts|slice:"5" %}
				<div class="some-title">
					<h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
				</div>
				<div class="john">
					<p><a href="#">Mr.x</a><span>{{post.date|date_to_string}}</span></p>
				</div>
				<div class="clearfix"> </div>
				<div class="tilte-grid">
					{{post.content|slice:"30"}}
				</div>
				<div class="read">
					<a href="{{ site.baseurl }}{{ post.url }}">更多</a>
				</div>
				<div class="border">
					<p>&nbsp;</p>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
			
			<div class="categories">
				<div class="categ">
					<div class="cat">
						<h3>JAVA技术</h3>
						<ul>
							{% for post in site.posts %}
								{% if post.category == "java"%}
　　　　　　							<li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　							{% endif %}
							{% endfor %}
						</ul>
					</div>
					
					<div class="cat">
						<h3>架构设计</h3>
						<ul>
							{% for post in site.posts %}
								{% if post.category == "fw"%}
　　　　　　							<li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　							{% endif %}
							{% endfor %}
						</ul>
					</div>
					
					<div class="recent-com">
						<h3>开源技术</h3>
						<ul>
							{% for post in site.posts %}
								{% if post.category == "ky"%}
　　　　　　							<li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //content -->