<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="footer-grid">
				<h3>关于我</h3>
				<p>本人偏好技术研究,特别是java基础、数据库、分布式、高并发有相应研究</p>
			</div>
			<div class="footer-grid">
				<h3>站点地图</h3>
				<ul>
					<li class="cap"><a href="/blog/index.html">首页</a></li>
					<li><a href="/blog/javalist.html">JAVA技术</a></li>
					<li><a href="/blog/melist.html">技术沉淀</a></li>
					<li><a href="/blog/aboutme.html">联系我</a></li>
				</ul>
			</div>
			<div class="footer-grid">
				<h3>相关链接</h3>
				<ul>
					<li><a href="http://www.infoq.com/cn/">InfoQ</a></li>
					<li><a href="http://www.iteye.com/">ITeye</a></li>
					<li><a href="http://www.ibm.com/developerworks/cn/">IBM</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				*/
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
	</script>