<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="footer-grid">
				<h3>关于我</h3>
				<p>JAVA技术爱好</p>
			</div>
			<div class="footer-grid">
				<h3>站点地图</h3>
				<ul>
					<li class="cap1"><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="articles.html">Gallery</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="footer-grid">
				<h3>相关链接</h3>
				<ul>
					<li><a href="single.html">Vestibulum iaculis scelerisque</a></li>
					<li><a href="single.html">Cras aliquam erat</a></li>
					<li><a href="single.html">Morbi imperdiet ipsum</a></li>
					<li><a href="single.html">Donec faucibus mollis</a></li>
					<li><a href="single.html">Praesent lacinia nisi</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				*/
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
	</script>