<!-- header -->
	<div class="header">
	<div class="container">
		<div class="header-info">
			<div class="logo" style="font-family: -webkit-pictograph;font-style: normal;font-weight: bold;font-size: x-large;">
				<span>JAVA技术爱好<span>
			</div>
			<div class="logo-right">
				<span class="menu"><img src="images/menu.png" alt=" "/></span>
				<ul class="nav1">
					<li class="cap"><a href="/blog/index.html">首页</a></li>
					<li><a href="/blog/javalist.html">JAVA技术</a></li>
					<li><a href="/blog/melist.html">技术沉淀</a></li>
					<li><a href="/blog/aboutme.html">联系ME</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
		</div>
	</div>
	</div>
<!-- header -->