<!-- header -->
	<div class="header">
	<div class="container">
		<div class="header-info">
			<div class="logo" style="font-family: -webkit-pictograph;font-style: normal;font-weight: bold;font-size: x-large;">
				<span>JAVA技术爱好<span>
			</div>
			<div class="logo-right">
				<span class="menu"><img src="/blog/images/menu.png" alt=" "/></span>
				<ul class="nav1">
					<li><a id="index" href="/blog/index.html">首页</a></li>
					<li><a id="indexjava" href="/blog/javalist.html">JAVA</a></li>
					<li><a id="indexdb" href="/blog/db.html">数据库</a></li>
					<li><a id="indexfw" href="/blog/fw.html">架构</a></li>
					<li><a id="indexweb" href="/blog/web.html">前端</a></li>
					<li><a id="indexky" href="/blog/opensource.html">开源技术</a></li>
					<li><a id="indexme" href="/blog/aboutme.html">关于个人</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- header -->