<!DOCTYPE html>
<html>
<head>
<title>JAVA爱好者之家</title>
<link href="/blog/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/blog/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="/blog/js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="java,JAVA,技术,架构师,java基础,java学习,java技术,java研究" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/blog/js/move-top.js"></script>
<script type="text/javascript" src="/blog/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
<body>
{%include top.html %}
{{content}}
{%include bottom.html %}
<script type="text/javascript"> 
	$(".nav1 li a").each(function(index,doc){
		if($(this).attr("id")=="index"{{page.category}}){
			$(this).attr({"color":"red"});
		}
	});
	$( "span.menu" ).click(function() {
	$( "ul.nav1" ).slideToggle( 300, function() {
	 // Animation complete.
	});
	});
 </script>
</body>
</html>